<footer>
  <div>
    <img src="https://i.imgur.com/7rtJJQT.png" alt="">
  </div>
  <div>
    <p>FAQ</p>
    <p>Help Center</p>
    <p>Learn</p>
  </div>
  <div>
    <p>Our Mission</p>
    <p>Go Vertical Home Kits</p>
    <p>Press</p>
  </div>
  <div>
    <p class="join">Join Us</p>
    <input id="emailInput" type="text" placeholder="EMAIL">
  </div>
  <div>
    <div>
      <img class="social-media" src="https://cdn-icons-png.flaticon.com/128/739/739237.png" alt="">
      <img class="social-media" src="https://cdn-icons-png.flaticon.com/512/739/739244.png" alt="">
    </div>
    <button onclick="emailButton()">SUBMIT</button>
  </div>
</footer>

</body>
</html>