<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- CSS only -->
    <link rel="stylesheet" href="stylesheets/style.css" />
    <script defer href="javascripts/javascript.js" ></script>
  </head>
  <body>
    <nav>
      <a href="/"><img class="nav-logo" src="https://i.imgur.com/7rtJJQT.png" alt="Go-Vertical"></a>
      <ul>
        <li class="nav-shop"><a href="/shops">Shop</a></li>
        <li class="nav-community"><a href="/community">Community</a></li>
        <li class="nav-about-us"><a href="/about">About Us</a></li>
        <form class="nav-search" action="">
          <input type="search" placeholder="Search">
        </form>
        <li>
          <div class="nav-link">
            <img class="nav-icon" src="https://cdn-icons-png.flaticon.com/512/3917/3917754.png" alt="">
            <img class="nav-icon" src="https://static-00.iconduck.com/assets.00/shopping-cart-icon-512x462-yrde1eu0.png" alt="">
          <% if (user) { %>
            
              <a class="nav-link" href="/logout"> <img class="user-icon" src="<%= user.avatar %>" alt=""></a>
          <% } else { %>
                <a class="nav-link" href="/auth/google">
                  <img class="google-icon" src="https://i.imgur.com/FHjYyi0.png" alt="Google"> 
                  Login
                </a>
            <% } %>
          </div>
        </li>
      </ul>
    </nav>

