/* * {
  background-color: #FAFAF7 !important;
} */

body{
  margin: 0;
  padding: 0;
}

/* navbar */
nav{
  width: 100%;
  height: 57px;
  background-color: #BED74C !important ;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}
.container-fluid{
  background-color: #BED74C;
  padding: 0;
}

.navbar.bg-body-tertiary {
  background-color: #BED74C;
}

nav > a {
  font-size: 25px;
  text-decoration: none;
  float: left;
  padding: 14px 16px;
  display: block;
  text-align: center;
  overflow: hidden;
}
nav > a:hover {
  background-color: #222;
  color: #31352E;
}
/* Hero */
div > img {
  width: 100%;
}

/* sub-hero */

#sub-hero-section {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("https://as2.ftcdn.net/v2/jpg/05/61/05/03/1000_F_561050331_wcCDuc0sNbYbrPNuWqtMV5giZGWa87ml.jpg");
  background-size: cover;
}

.sub-hero {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex-wrap: wrap;
  height: 150px;
}

.sub-hero > img {
  height: 15vw;
  width: auto;
  margin-left: 4vw;
  margin-top: 2vw;
}

.sub-hero > img:hover {
  transform: scale(1.1);
  transition: .2s;
}

/* home body */

#home-body {
  height: 60%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2% 5% 0 10%;
}

#home-body > img {
  height: auto;
  width: 30vw;
  grid-row: 1 / 5;
}

#home-body > h4 {
  margin-left: 3vw;
}

#home-body > ol {
  margin-left: 3vw;
  width: 40vw;
}

#home-body > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#home-body > div > button {
  height: 50px;
  width: 100px;
  background-color: #E55934 !important;
  color: #FAFAF7;
  border: none;
  border-radius: 9px;
  margin: 10px;
}

/* below body */

hr { 
  width: 80vw;
  margin: auto !important;
} 


/* footer */

footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #BED74C;
}
