/* * {
  background-color: #FAFAF7 !important;
} */

body{
  margin: 0;
  padding: 0;
}

/* navbar */
nav{
  width: 100%;
  height: 40px;
  background-color: #BED74C !important ;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  margin: 7px;
}

.nav-shop {
  margin: 0 5vw;
}

.nav-community {
  margin: 0 2vw;
}

.nav-about-us {
  margin: 0 5vw;
}

.nav-search {
  margin: 0 1vw;
}

.nav-search input {
  width: 12vw;
}

.nav-icon {
  height: 18px;
  margin: 5px .4vw;
}

.nav-link {
  display: flex;
}

.nav-logo {
  float: left;
  margin: 5px 1vw 5px 5vw;
  height: 30px;
}

nav ul li{
  text-decoration: none;
  display: inline-block;
}

nav > ul a {
  text-decoration: none;
  color: #31352E;
}

.navbar.bg-body-tertiary {
  background-color: #BED74C;
}

nav > a {
  font-size: 25px;
  text-decoration: none;
  float: left;
  padding: 14px 16px;
  display: block;
  text-align: center;
  overflow: hidden;
}

nav > a:hover {
  background-color: #222;
  color: #31352E;
}

.user-icon {
  height: 30px;
  width: auto;
  border-radius: 50%;
  margin-right: 1vw;
  margin-left: .5vw;
}

.google-icon {
  height: 20px;
  width: auto;
  margin: 0;
}

/* Hero */
div > img {
  width: 100%;
}

/* sub-hero */

#sub-hero-section {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("https://as2.ftcdn.net/v2/jpg/05/61/05/03/1000_F_561050331_wcCDuc0sNbYbrPNuWqtMV5giZGWa87ml.jpg");
  background-size: cover;
  padding-top: 3.5vh;
  padding-bottom: 2.5vh;
}

.sub-hero {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex-wrap: wrap;
  height: 150px;
}

.sub-hero > img {
  height: 15vw;
  width: auto;
  margin-left: 4vw;
  margin-top: 2vw;
  transition: all .3s ease-in-out;
}

.sub-hero > img:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 12px 12px 2px 1px rgba(12, 128, 4, 0.2);
}

.sub-hero > img:active {
  transform: scale3d(1, 1.2, 0.3);
}

/* home body */

#home-body {
  height: 60%;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 3% 5% 0 10%;
  font-size: 18px;
}


#home-body > img {
  height: auto;
  width: 35vw;
  grid-row: 1 / 5;
}

#home-body > h4 {
  margin-left: 3vw;
}

#home-body > ol {
  margin-left: 3vw;
  width: 40vw;
}

#home-body > div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#buy-now {
  height: 50px;
  width: 100px;
  background-color: #E55934 !important;
  color: #FAFAF7;
  border: none;
  border-radius: 9px;
  margin: 5px 10px;
}

#buy-now:active {
  background-color: #953b22 !important;
  transition: all .01s ease-in-out;
  transform: scale(0.95);
}

/* below body */

hr { 
  width: 80vw;
  margin: 6vh auto 1.5vh !important;
} 

/* sub-body */

#sub-body-section {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
}

.sub-body {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  flex-wrap: wrap;
  height: 150px;
}

.sub-body > img {
  height: 19vw;
  width: auto;
  margin-left: 4vw;
  margin-top: 2vw;
  transition: all .3s ease-in-out;
}

.sub-body > img:hover {
  transform: scale(1.1);
  /* cursor: pointer; */
  box-shadow: 12px 12px 2px 1px rgba(12, 128, 4, 0.2);
}


/* footer */

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2vw 6vw;
  width: 100%;
  background: #BED74C;
  font-weight: 600;
}

footer > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer p {
  cursor: pointer;
}

footer > div > img {
  width: 13vw;
  cursor: pointer;
}

.join {
  font-size: 18px;
}

#emailInput {
  width: 16vw;
  height: 4vh;
  text-align: center;
}

.social-media {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

footer div button {
  width: 7vw;
  height: 2vw;
  color: red;
  border-color: red;
}

